/*//////// Header ///////////*/

header{
  position: sticky;
  top: 0px;
}

.firstNav{
  display: flex;
  background: #fbfbfb;
  padding: 10px;
  align-items: center;
}

.firstNav nav{
  display: flex;
  justify-content: space-between;
}

.firstNav nav ul li{
  font-family: Raleway;
}

.firstNav nav ul li a{
  text-decoration: none;
  padding: 0 10px ;
  color : #212121;
}

.firstNav .active{
  color : #272b62;
}

.firstNav nav ul:first-child{
  display: flex;
  list-style: none;
}

.firstNav nav ul:last-child{
  position: absolute;
  list-style: none;
  right: 10px;
  top: 15px
}

.firstNav nav ul:last-child li  {
  padding-bottom: 8px
}

.firstNav img{
  max-width: 80px;
  max-height: 56px;
  margin-right: 20px
}

.secondNav{
  display: flex;
  background: #272b62;
  padding: 10px;
  align-items: center;
  color : white;
  box-sizing: border-box;
  padding-left: 120px
}

.secondNav nav {
  margin: 15px 0;
}

.secondNav nav ul{
  display: flex;
  list-style: none;
}

.secondNav nav ul li a{
  padding: 5px 0 ;
  margin-right: 50px;
  color: white;
  text-decoration: none;
  font-family: Oswald;
  font-size: 20px;
  border-bottom: solid 1px #E51C28;
}

.secondNav nav ul li a:hover, .secondNav .active{
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  color: #E51C28;
}

/*////////// Match ////////////////*/

.match-container{
  background-color: #fbfbfb;
}

.match-container img{
  width: 90px
}

.match-container button{
  background: #F6D500;
  padding: 8px 15px;
  color: #212121;
  font-size: 18px;
  border: solid #F6D500 2px;
  cursor: pointer;
}

.match-card-row{
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px black;
  margin: auto;
}

.match-card-row:hover{
  box-shadow: grey 0px 0px 8px;
}

.country-card{
  display: flex;
  align-items: center;
  font-family: Raleway;
  width: 400px;
}

.country-card p{
  margin: 0 15px;
  font-size: 22px
}

.match-card-row-score{
  font-family: Oswald;
  font-size: 50px;
  font-weight: bold;
}

.match-card-row .country-card:nth-child(3){
  justify-content: flex-end;
}

/************ Contact us*************/

.content-contact{
  margin: 20px 0px 20px 120px;
}
.content-contact h2{
  font-family: Oswald;
  text-transform: uppercase;
  font-style: italic;
  color: #282B62;
  font-size: 40px;
}

.content-contact form, .content-contact form .submit-content{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 20px;
}

.content-contact form{
  margin-top: 50px;
}

.content-contact form .submit-content{
  align-items: flex-end;
}

.content-contact form input{
  border: 0px;
  background: none;
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid #F9D500;
  font-family: Oswald;
  font-size: 20px;
  color: #282B62;
  transition: 0.5s;
  width: 250px;
}

.content-contact form input::placeholder, .content-contact form textarea::placeholder{
  color: #282B62;
}

.content-contact form input[type=submit]{
  width: 200px;
  border: 1px solid #282B62;
  background: #282B62;
  color: #F9D500;
  font-weight: 300;
  padding: 5px 0px;
}

.content-contact form textarea{
  padding: 10px;
  margin-top: 10px;
  font-family: Raleway;
  color: #212121;
  border: 1px solid #282B62;
  min-height: 150px;
}

.content-contact form input[type=submit]:hover{
  background: none;
  border: 1px solid #F9D500;
  color: #282B62;
  transition: 0.5s;
  cursor: pointer;
}

.content-contact form textarea:focus, .content-contact form input:focus{
  outline: none;
}

/************ Footer *************/

footer{
  background: #272b62;
  color : white;
  display: flex;
  justify-content: center;
  border-top: solid 2px white;
  font-family: Oswald;
  font-size: 18px;
}

footer a{
     color : white;
     padding: 20px;
     text-decoration: none;
}

footer p{
  padding: 20px;
}
