/*//////// Header ///////////*/

header{
  position: sticky;
  top: 0px;

  z-index: 10;

}

.firstNav{
  display: flex;
  background: #fbfbfb;
  padding: 10px;
  align-items: center;
}

.firstNav nav{
  display: flex;
  justify-content: space-between;
}

.firstNav nav ul li{
  font-family: Raleway;
}

.firstNav nav ul li a{
  text-decoration: none;
  padding: 0 10px ;
  color : #212121;
}

.firstNav .active{
  color : #272b62;
}

.firstNav nav ul:first-child{
  display: flex;
  list-style: none;
}

.firstNav nav ul:last-child{
  position: absolute;
  list-style: none;
  right: 10px;
  top: 15px
}

.firstNav nav ul:last-child li  {
  padding-bottom: 8px
}

.firstNav img{
  max-width: 80px;
  max-height: 56px;
  margin-right: 20px
}

.secondNav{
  display: flex;
  background: #272b62;
  padding: 10px;
  align-items: center;
  color : white;
  box-sizing: border-box;
  padding-left: 120px
}

.secondNav nav {
  margin: 15px 0;
}

.secondNav nav ul{
  display: flex;
  list-style: none;
}

.secondNav nav ul li a{
  padding: 5px 0 ;
  margin-right: 50px;
  color: white;
  text-decoration: none;
  font-family: Oswald;
  font-size: 20px;
  border-bottom: solid 1px #E52528;
}

.secondNav nav ul li a:hover, .secondNav .active{
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  color: #E52528;
}

/*////////// HOME ////////////////*/

.content-home{
  background: #272b62;
  padding-top: 50px;
}

.content-home h1{
  font-family: Oswald;
  color: #FBFBFB;
  font-style: italic;
  font-weight: 500;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
}

.content-home .field {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

.content-home .field img{
  width: 100%;
  height: auto;
}

.content-home-actu {
  margin: 20px 0px 0px 120px;
  padding-bottom: 20px;
}

.content-home-actu a{
  text-decoration: none;
}

.content-home-actu hr{
  border: 0.5px solid #FBFBFB;
  width: 80%;
  max-width: 700px;
  margin: 20px 0px;
}

.content-home-actu h2{
  font-family: Oswald;
  text-transform: uppercase;
  font-style: italic;
  color: #FBFBFB;
  margin-bottom: 30px;
  font-size: 40px;
}

.content-home-actu .articles-box {
    display: flex;
    width: 80%;
    max-width: 700px;
    padding: 10px 10px 10px 0px;
    transition: 0.5s;
}

.content-home-actu .articles-box:hover{
  -webkit-box-shadow: 3px 3px 5px 3px rgba(33,33,33,0.3);
  -moz-box-shadow: 3px 3px 5px 3px rgba(33,33,33,0.3);
  box-shadow: 3px 3px 5px 3px rgba(33,33,33,0.3);
  cursor: pointer;
  transition: 0.5s;
}

.content-home-actu .articles-box img{
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.content-home-actu .articles-box .art-content-text h3{
  font-family: Oswald;
  font-style: italic;
  font-weight: 500;
  color: #FBFBFB;
  font-size: 25px;
}

.content-home-actu .articles-box .art-content-text .art-author{
  color: #F9D500;
  font-family: Oswald;
  font-weight: 300;
  margin-bottom: 15px;
}

.content-home-actu .articles-box .art-content-text .article-resume{
  font-family: Raleway;
  color: #FBFBFB;
  text-align: justify;
}

@media screen and (max-width: 950px) {
    .content-home-actu .articles-box{
      display: block;
    }

    .content-home-actu .articles-box img{
      width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .content-home h1{
      font-size: 35px;
    }
}

@media screen and (max-width: 550px) {
    .content-home h1{
      font-size: 25px;
      margin-top: 10px;
    }
}

@media screen and (max-width: 370px) {
    .content-home h1{
      font-size: 20px;
      margin-top: 5px;
    }
}

/*////////// Matches ////////////////*/

.match-container{
  background-color: #fbfbfb;
  width: 80%;
  margin: 0 auto;
}

.match-container-button{
  width: 80%;
  margin: 30px auto;
}

.match-container button{
  background: #fbfbfb;
  padding: 8px 15px;
  color: #212121;
  font-size: 18px;
  border: 1px solid #272B62;
  cursor: pointer;
  margin-right: 20px
}

.match-container button:focus{
  outline: none;
}

.match-container button:hover, .match-container-button-active{
  background: #F6D500 !important;
  color: #212121;
  border: 1px solid #F6D500 !important;
}

.match-container h1{
  color : #fbfbfb;
  background: #272b62;
  width : 80%;
  margin: 40px auto 0px;
  padding: 15px;
  box-sizing: border-box;
  font-family: Oswald;
  font-weight: 200;
  font-size: 30px
}

.match-container img{
  width: 80px
}

.match-container a{
  text-decoration: none;
  color : #212121;
}

.match-card-row{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px lightgray;
  margin: auto;
  box-sizing: border-box;
  cursor: pointer;
}

.match-card-row i{
  color: #E52528;
  font-size: 30px;
  margin: 15px;
}

.match-card-row:hover{
  box-shadow: grey 0px 0px 8px;
}

.country-card{
  display: flex;
  align-items: center;
  font-family: Raleway;
  width: 300px;
}

.country-card p{
  margin: 0 15px;
  font-size: 18px
}

.match-card-row-score{
  font-family: Oswald;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.match-card-row-date{
  font-family: Oswald;
  text-align: center;
  font-size: 40px;
}

.match-card-row-date p:first-child, .match-card-row-score p:first-child{
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
}

.match-card-row .country-card:nth-child(3){
  justify-content: flex-end;
}

@media screen and (max-width: 1120px) {
  .country-card, .match-card-row{
    display: block;
    text-align: center;
  }

  .match-card-row-score {
    margin: 0 auto;
    line-height: 40px;
  }

  .country-card p {
    margin: 15px;
  }

  .match-container h1, .match-container-button, .match-container button, .country-card, .match-card-row{
    width: 100%;
  }
  .match-container button {
    margin-bottom: 20px;
  }
}

/*//////////////// Match ///////////////*/

.single-match-conatiner{
  background: #272b62;
  padding-top: 50px;
  width: 100%;
}

.single-match-conatiner h1{
  color : #F6D500;
  width: 80%;
  font-family: Oswald;
  margin: 15px auto;
  font-size: 40px;
  font-weight: 300;
}

.palyer-list h2{
  font-family: Oswald;
  font-weight: 500;
}

.palyer-list p, .statistics-colomn p{
  font-family: Raleway;
}

.field{
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

.field img{
  width: 100%;
}

.field-score-card{
  width: 50%;
  background: #212121AD;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  bottom: 225px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color : white;
  font-family: Oswald;
  box-shadow: 0 0 10px #212121;
}

.field-country-card{
  display: flex;
  flex-direction: column;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.goal-conatiner{
  font-size: 15px;
  text-align: left;
}

.field-time-score-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px
}

.field-country-card img{
  width: 100px
}

.single-match-conatiner .palyer-list, .single-match-conatiner .statistics{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  padding-bottom: 20px;
}

.single-match-conatiner .palyer-list .firs-team{
  margin-bottom: 15px
}

.single-match-conatiner  .statistics {
  display: flex;
  justify-content: space-between;
}

.single-match-conatiner  .statistics .statistics-colomn{
  display: flex;
  flex-direction: column;
  color: white
}

@media screen and (max-width: 1000px) {
  .field-score-card{
    flex-direction: column;
    bottom: 0;
  }

  .field img[alt='football field']{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .palyer-list, .statistics{
    flex-direction: column;
  }

  .single-match-conatiner .palyer-list hr, .single-match-conatiner .statistics hr{
    margin: 20px 0px;
  }
}

/************ Contact us*************/

.content-contact{
  margin: 20px 0px 20px 120px;
}

.content-contact h2{
  font-family: Oswald;
  text-transform: uppercase;
  font-style: italic;
  color: #282B62;
  font-size: 40px;
}

.content-contact form, .content-contact form .submit-content{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 20px;
}

.content-contact form{
  margin-top: 50px;
}

.content-contact form .submit-content{
  align-items: flex-end;
}

.content-contact form input{
  border: 0px;
  background: none;
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid #F9D500;
  font-family: Oswald;
  font-size: 20px;
  color: #282B62;
  transition: 0.5s;
  width: 250px;
}

.content-contact form input::placeholder, .content-contact form textarea::placeholder{
  color: #282B62;
}

.content-contact form input[type=submit]{
  width: 200px;
  border: 1px solid #282B62;
  background: #282B62;
  color: #F9D500;
  font-weight: 300;
  padding: 5px 0px;
}

.content-contact form textarea{
  padding: 10px;
  margin-top: 10px;
  font-family: Raleway;
  color: #212121;
  border: 1px solid #282B62;
  min-height: 150px;
  background: #FBFBFB;
}

.content-contact form input[type=submit]:hover{
  background: none;
  border: 1px solid #F9D500;
  color: #282B62;
  transition: 0.5s;
  cursor: pointer;
}

.content-contact form textarea:focus, .content-contact form input:focus{
  outline: none;
}

/*************SignUp***************/
.content-signup{
    margin: 20px 0px 20px 120px;
}
.content-signup h2{
    font-family: Oswald;
    text-transform: uppercase;
    font-style: italic;
    color: #282B62;
    font-size: 40px;
}

.content-signup form, .content-signup form .submit-content{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
}

.content-signup form{
    margin-top: 30px;
}

.content-signup form .submit-content{
    align-items: flex-end;
}

.content-signup form input{
    border: 0px;
    background: none;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #F9D500;
    font-family: Oswald;
    font-size: 20px;
    color: #282B62;
    transition: 0.5s;
    width: 250px;
}

.option-select-sign-up{
  padding: 0px;
  align-items: center;
  display: flex;
}

.css-1hwfws3{
  padding: 0px !important;
}

.option-select-sign-up img{
  width: 50px;
  margin-right: 10px;
}

.content-signup form input::placeholder, .content-signup form textarea::placeholder{
    color: #282B62;
}

.content-signup form input[type=submit]{
    width: 200px;
    border: 1px solid #282B62;
    background: #282B62;
    color: #F9D500;
    font-weight: 300;
    padding: 5px 0px;
}

.content-signup form textarea{
    padding: 10px;
    margin-top: 10px;
    font-family: Raleway;
    color: #212121;
    border: 1px solid #282B62;
    min-height: 150px;
}

.content-signup form input[type=submit]:hover{
    background: none;
    border: 1px solid #F9D500;
    color: #282B62;
    transition: 0.5s;
    cursor: pointer;
}

.content-signup form textarea:focus, .content-signup form input:focus{
    outline: none;
}

.content-signup select {
    border: 0px;
    background: none;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #F9D500;
    font-family: Oswald;
    font-size: 20px;
    color: #282B62;
    transition: 0.5s;
    width: 250px;
}

.content-signup .error-form-signup {
    font-size: 16px;
    text-transform: uppercase;
    color: #E52528;
    margin-top: 20px;
    font-family: Oswald;
}

/*************AboutUs***************/

.content-about-us{
  margin: 20px 0px 20px 120px;
}

.content-about-us h2{
  font-family: Oswald;
  text-transform: uppercase;
  font-style: italic;
  color: #282B62;
  font-size: 40px;
  margin-bottom: 50px;
}

.content-about-us .text-about-us{
  max-width: 500px;
  font-family: Raleway;
  text-align: justify;
  margin-bottom: 50px;
}

.text-para{
  margin: 20px 0px;
}

@media screen and (max-width: 730px) {
  .content-about-us{
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
  }

  .content-about-us .text-about-us .text-about-us{
    width: 100%;
  }
}

/*************SignIn***************/
.content-signin{
    margin: 20px 0px 20px 120px;
}
.content-signin h2{
    font-family: Oswald;
    text-transform: uppercase;
    font-style: italic;
    color: #282B62;
    font-size: 40px;
}

.content-signin form, .content-signin form .submit-content{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
}

.content-signin form{
    margin-top: 30px;
}

.content-signin .error-form-signin {
    font-size: 16px;
    text-transform: uppercase;
    color: #E52528;
    margin-top: 20px;
    font-family: Oswald;
}

.content-signin form .submit-content{
    align-items: flex-end;
}

.content-signin form input{
    border: 0px;
    background: none;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #F9D500;
    font-family: Oswald;
    font-size: 20px;
    color: #282B62;
    transition: 0.5s;
    width: 250px;
}

.content-signin form input::placeholder, .content-signin form textarea::placeholder{
    color: #282B62;
}

.content-signin form input[type=submit]{
    width: 200px;
    border: 1px solid #282B62;
    background: #282B62;
    color: #F9D500;
    font-weight: 300;
    padding: 5px 0px;
}

.content-signin form input:focus{
  outline: none;
}

.content-signin form textarea{
    padding: 10px;
    margin-top: 10px;
    font-family: Raleway;
    color: #212121;
    border: 1px solid #282B62;
    min-height: 150px;
}

.content-signin form input[type=submit]:hover{
    background: none;
    border: 1px solid #F9D500;
    color: #282B62;
    transition: 0.5s;
    cursor: pointer;
}

.content-signin form textarea:focus, .content-signup form input:focus{
    outline: none;
}

.content-signin select {
    border: 0px;
    background: none;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #F9D500;
    font-family: Oswald;
    font-size: 20px;
    color: #282B62;
    transition: 0.5s;
    width: 250px;
}


/*////////// Legals Notices ////////////////*/

.content-legals-notices{
  width: 80%;
  margin: 0 auto;
  font-family: Raleway;
}

.content-legals-notices h2{
  font-family: Oswald;
  color: #272b62;
  margin: 40px 0px 0px 0px;
}

.content-legals-notices h3{
  font-family: Oswald;
  color: #272b62;
  margin-top: 20px;
}

.content-legals-notices p:last-child{
  margin-bottom: 20px;
}

.content-legals-notices ul{
  margin-left: 20px;
}

.content-legals-notices .website_name{
  font-weight: 700;
}

.content-legals-notices a{
  text-decoration: none;
  color: #E52528;
}

/************ Footer *************/

footer{
  background: #272b62;
  color : white;
  display: flex;
  justify-content: center;
  border-top: solid 2px white;
  font-family: Oswald;
  font-size: 18px;
}

footer a{
     color : white;
     padding: 20px;
     text-decoration: none;
}

footer p{
  padding: 20px;
}
